.desk {
  background-color: #c77bea;
  color: white;
  &:hover { background-color: #9f62bb; }
  &.new {
    background-color: #5b75af;
    &:hover { background-color: #495e8c; }
  }
  &.resolved {
    background-color: #b4b4b4;
    &:hover { background-color: #a2a2a2; }
  }
  &.closed {
    background-color: #d94242;
    &:hover { background-color: #ae3535; }
  }
  &.open {
    background-color: #61a00f;
    &:hover { background-color: #4e800c; }
  }
  &.pending {
    background-color: #de901b;
    &:hover { background-color: #b27316; }
  }
}